/* Contenedor centrado y con tamaño ajustado */
.form-container {
    width: 80%; /* Ajusta el ancho según tus necesidades */
    max-width: 600px; /* Ancho máximo para evitar que sea muy grande */
    background-color: #f8f9fa; /* Color de fondo (opcional) */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Limitar la altura del contenedor y permitir desplazamiento */
.products-container {
    max-height: 400px; /* Ajusta la altura máxima según necesites */
    overflow-y: auto;  /* Scroll vertical cuando sea necesario */
}

/* Alinear verticalmente y centrar el contenedor */
.container {
    height: 100vh; /* La altura del contenedor padre para centrar verticalmente */
}

/* Botones dentro de cada item */
button {
    text-align: left; /* Mantener los botones alineados a la izquierda */
}
/* .navbar .svg-container {
    display: flex;
    align-items: center;
}
.navbar .svg-container svg {
    margin-right: 8px;
}
.products-container {
    max-height: 60vh;
    overflow-y: auto;
} */

 /* Custom styles to adjust layout */
 .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-body img {
    max-width: 100%;
    height: auto;
}

/* Responsive adjustments for small screens */
@media (max-width: 768px) {
    .card {
        width: 18rem !important; /* Adjust the width for mobile screens */
    }
}
</style>