







*{

    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
   
}

.me-2 {
    filter: brightness(0.6); /* Ajusta el valor según tu necesidad */
}

#enviar{

    padding-bottom: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
   
}
label{
    
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
      
}

title{
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

/* Contenedor centrado y con tamaño ajustado */
.form-container {
    width: 150%; /* Ajusta el ancho según tus necesidades */
    max-width: 400px; /* Ancho máximo para evitar que sea muy grande */
    border-radius: 35px;
    position : relative;
    
    /* box-shadow: 0 0 10px rgba(247, 7, 7, 0.801); */
}

/* Limitar la altura del contenedor y permitir desplazamiento */
.products-container {
    margin-top: 90px;
    max-height: 900px; /* Ajusta la altura máxima según necesites */
    overflow-y: auto;  /* Scroll vertical cuando sea necesario */
    position: relative;
}

/* Alinear verticalmente y centrar el contenedor */
.container {

    height: 100vh; /* La altura del contenedor padre para centrar verticalmente */
}

/* Botones dentro de cada item */
button {
    text-align: left; /* Mantener los botones alineados a la izquierda */
}
/* .navbar .svg-container {
    display: flex;
    align-items: center;
}
.navbar .svg-container svg {
    margin-right: 8px;
}
.products-container {
    max-height: 60vh;
    overflow-y: auto;
} */

 /* Custom styles to adjust layout */
 .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-body img {
    max-width: 00%;
    height: auto;
}

/* html, body {
    height: 100%;
    margin: 0;
    padding: 0;
} */

.container {
    height: 100%;
}


/* #ig{
    margin-right: 30px;
} */
.form-container {
  
    width: 100%;
    max-width: 900px;
}

.products-container {
    max-height: 60vh; /* Ajusta este valor según tus necesidades */
    overflow-y: auto;
   
}

.btn {
    margin-bottom: 10px; /* Espacio entre los botones */
}
html, body {
    
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Previene desplazamiento horizontal */
}

body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px; /* Añade padding para evitar que el contenido toque los bordes */
}

.form-container {
    width: 100%;
    max-width: 600px;
}

.products-container {
    max-height: 60vh; /* Ajusta este valor según tus necesidades */
    overflow-y: auto;
    margin-bottom: 10px; /* Espacio entre la lista y el botón */
 
}

.btn {
    margin-bottom: 10px; /* Espacio entre los botones */
}

/* @media (max-width: 768px) {
    #caja-nav{
        margin-left: 230px;
        justify-content: center;
    }
    .form-container {
        width: 100%;
        margin-bottom: 80px;
    }
    .products-container {
        max-height: 50vh; 
    }
  } */

  /* Responsive adjustments for small screens */

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  


  .con-stock {
    background-color: #77c577; /* Color de fondo */
    color: #ffffff; /* Color del texto */
    padding: 3px 6px; /* Espaciado interno */
    border-radius: 3px; /* Radio de borde */
}

/* Estilos para el mensaje de "Sin stock" */
.sin-stock {
    background-color: #da5c5c; /* Color de fondo */
    color: #ffffff; /* Color del texto */
    padding: 3px 6px; /* Espaciado interno */
    border-radius: 3px; /* Radio de borde */
}

.con-stock-descuento {
    background-color: #23ad45; /* Color de fondo */
    color: #ffffff; /* Color del texto */
    padding: 3px 6px; /* Espaciado interno */
    border-radius: 3px; /* Radio de borde */
}

.social-media {

margin-right: 90px;

}

.cartel-llamada {
    margin-right: 30px;
    text-decoration: none;
    color:#f8f9fa;

}

svg {
    margin-right: 20px;
}

#caja-nav{
    margin-left: 230px;
    justify-content: center;
}

#arena {
padding: 30px;
background-image:  url(/img/images.jpeg);
background-size: cover;

}

body {
    background-color: #f8f9fa; /* Fondo claro */
}

.container {
    max-width: 1200px; /* Ancho máximo de la contenedor */
    margin: 0 auto; /* Centrar el contenedor */
}

.card {
    border: none; /* Sin borde por defecto */
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin-bottom: 1.5rem; /* Espacio entre tarjetas */
}

.card-body {
    padding: 2rem; /* Espacio interno */
}

.card-title button {
    width: 100%;
    border: 1px solid #dee2e6; /* Borde sutil */
    border-radius: 10px; /* Bordes redondeados en botones */
}



.list-group-item .form-check-label {
    
    align-items: center;
}

.list-group-item img {
    margin-right: 1rem; /* Espacio entre imagen y texto */
}



.small-font {
    font-size: 1.2rem; /* Tamaño de fuente normal */
}

/*--------------------DISEÑO MOBILE-------------------*/



#btn-perros , #btn-gato, #btn-otros{
    padding-top: 90px;
    
}
#btn-perros{
            
    position: relative;
    display: inline-block;
    width: 150px; /* Ajusta el tamaño según sea necesario */
    height: 50px; /* Ajusta el tamaño según sea necesario */
    overflow: hidden;
    border: none;
    
    color: #fff;
    text-align: center;
    line-height: 50px; /* Alinea el texto verticalmente */
    font-size: 16px;
    cursor: pointer;
}

#btn-perros img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen para cubrir el botón sin distorsionarse */
    pointer-events: none; /* Asegúrate de que la imagen no interfiera con los clics en el botón */
}
#btn-gato{
    
    position: relative;
    display: inline-block;
    width: 150px; /* Ajusta el tamaño según sea necesario */
    height: 50px; /* Ajusta el tamaño según sea necesario */
    overflow: hidden;
    border: none;
    
    color: #fff;
    text-align: center;
    line-height: 50px; /* Alinea el texto verticalmente */
    font-size: 16px;
    cursor: pointer;
}

#btn-gato img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen para cubrir el botón sin distorsionarse */
    pointer-events: none; /* Asegúrate de que la imagen no interfiera con los clics en el botón */
}
#btn-otros{
    
    position: relative;
    display: inline-block;
    width: 150px; /* Ajusta el tamaño según sea necesario */
    height: 50px; /* Ajusta el tamaño según sea necesario */
    overflow: hidden;
    border: none;
    
    color: #fff;
    text-align: center;
    line-height: 50px; /* Alinea el texto verticalmente */
    font-size: 16px;
    cursor: pointer;
}

#btn-otros img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen para cubrir el botón sin distorsionarse */
    pointer-events: none; /* Asegúrate de que la imagen no interfiera con los clics en el botón */
}

.form {
    padding: 0;
   
}


/* PARA PONER LA IMAGEN A UN LADO Y LA LETRA AL OTRO*/

.form-check {
    margin-bottom: 1rem; /* Espacio inferior entre elementos */
}

.d-flex {
    display: flex; /* Utiliza flexbox para el contenedor */
    align-items: center; /* Alinea verticalmente al centro */
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px; /* Opcional: bordes redondeados para la imagen */
}

.form-check-label {
    font-size: 1rem; /* Tamaño de fuente para el texto */
}


.cabecera-presentacion {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 90px;

}
 .informacion {
    max-width: 100%;
    height: auto;
    background-color: #fff;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border-radius: .25rem;
    box-shadow: 0 0 15px 1px #000;
}

div{
    display: block;
}
 .informacion img {
    width: 60px;
    object-fit: cover;
    height: 60px;
    margin-right: 10px;
    border-radius: 50%;
}
.contenido .titulo {
    font-size: 22px;
    font-weight: 500;
    margin: 0;
    color: #1a1a1a;
    padding: 0 0 4px;
}

 .descripcion {
    font-size: 13px;
    letter-spacing: .9px;
    color: #494949;
    margin: 0;
    padding: 0;
}


#catalogo {
    padding-top:120px;
}

.products-container {
    max-height: 400px;
    overflow-y: auto;
    position: relative; /* Asegura que el contenedor sea el referente de sus elementos internos */
}

.perros img,
.gatos img,
.otros img {
    max-width: 100%; /* Asegura que las imágenes no excedan el ancho del contenedor */
    height: auto; /* Mantiene la proporción de las imágenes */
}




.descuento {
    font-weight: bold
}



/* -------------------------------------------------------------*/



/*PAGINA DE LOS PRODUCTOS DE MERCADITO*/


#catalogo {
    padding-top:10px;
}

body {
    font-family: Arial, sans-serif;
}

.horizontal-slider {
    background-color: #0056b3;
   
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 40px;
}

.horizontal-slider-item {
    display: inline-block;
    margin-right: 10px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn.solid {
    background-color: #0056b3;
    color: white;
}

.btn.outline {
    background-color: white;
    color: #0056b3;
    border: 2px solid #0056b3;
}


.ui-title {
    display: flex;
    align-items: center;
}

.ui-item-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.icon-back {
    width: 20px;
    height: 20px;
    border: solid black;
    border-width: 0 3px 3px 0;
    transform: rotate(135deg);
    margin-right: 10px;
}

.category-title {
    font-size: 16px;
    color: #000;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px; /* Limita el ancho del buscador */
    width: 100%; /* Hace que se ajuste al tamaño de la pantalla */
}

.search-input {
    border: none;
    background-color: transparent;
    padding: 10px;
    outline: none;
    font-size: 16px;
    width: 80%; /* Ajusta el ancho para que sea más compacto */
    color: #333;
}

.search-input::placeholder {
    color: #999;
}

.search-btn {
    background-color: #e74c3c;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.search-btn:hover {
    background-color: #c0392b;
}

.item-list-grid[_ngcontent-ng-c3271226194] {
    padding: 0 1rem 1em;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.2rem 1.2rem;
}

.item-list-grid {
    padding: 0 1rem 1em;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.2rem 1.2rem;
}


#producto {
    margin-bottom: 20px;
    box-shadow: 0 3px 25px -10px #96aab480;
}


.search-container {
    margin-top: 50px;
    margin-bottom: 30px;
}
/*---------------------------------------------------*/


.navbar {
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #dc3545; /* Color de fondo del navbar */
    padding: 1rem; /* Espacio interno */
}
.navbar-brand {
    color: #fff; /* Color de texto del navbar */
    font-weight: bold;
    white-space: nowrap;
}