*{

    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
   
}
#enviar{

    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
   
}
label{
    
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
      
}

title{
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

/* Contenedor centrado y con tamaño ajustado */
.form-container {
    width: 80%; /* Ajusta el ancho según tus necesidades */
    max-width: 600px; /* Ancho máximo para evitar que sea muy grande */
    background-color: #f8f9fa; /* Color de fondo (opcional) */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Limitar la altura del contenedor y permitir desplazamiento */
.products-container {
    max-height: 400px; /* Ajusta la altura máxima según necesites */
    overflow-y: auto;  /* Scroll vertical cuando sea necesario */
}

/* Alinear verticalmente y centrar el contenedor */
.container {
    height: 100vh; /* La altura del contenedor padre para centrar verticalmente */
}

/* Botones dentro de cada item */
button {
    text-align: left; /* Mantener los botones alineados a la izquierda */
}
/* .navbar .svg-container {
    display: flex;
    align-items: center;
}
.navbar .svg-container svg {
    margin-right: 8px;
}
.products-container {
    max-height: 60vh;
    overflow-y: auto;
} */

 /* Custom styles to adjust layout */
 .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-body img {
    max-width: 100%;
    height: auto;
}

/* Responsive adjustments for small screens */
@media (max-width: 768px) {
    .card {
        width: 18rem !important; /* Adjust the width for mobile screens */
    }
}html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
}

.form-container {
    width: 100%;
    max-width: 600px;
}

.products-container {
    max-height: 60vh; /* Ajusta este valor según tus necesidades */
    overflow-y: auto;
}

.btn {
    margin-bottom: 10px; /* Espacio entre los botones */
}
html, body {
    
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Previene desplazamiento horizontal */
}

body {
    display: flex;
    flex-direction: column;
}

.navbar {
    flex-shrink: 0;
}

.container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px; /* Añade padding para evitar que el contenido toque los bordes */
}

.form-container {
    width: 100%;
    max-width: 600px;
}

.products-container {
    max-height: 60vh; /* Ajusta este valor según tus necesidades */
    overflow-y: auto;
    margin-bottom: 10px; /* Espacio entre la lista y el botón */
}

.btn {
    margin-bottom: 10px; /* Espacio entre los botones */
}

@media (max-width: 768px) {
    .navbar .container-fluid {
        justify-content: center;
    }
    .form-container {
        width: 100%;
        max-width: none; /* Elimina el límite de ancho máximo en pantallas pequeñas */
    }
    .products-container {
        max-height: 50vh; /* Ajusta el valor para pantallas pequeñas si es necesario */
    }
}
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  


  .con-stock {
    background-color: #77c577; /* Color de fondo */
    color: #ffffff; /* Color del texto */
    padding: 3px 6px; /* Espaciado interno */
    border-radius: 3px; /* Radio de borde */
}

/* Estilos para el mensaje de "Sin stock" */
.sin-stock {
    background-color: #da5c5c; /* Color de fondo */
    color: #ffffff; /* Color del texto */
    padding: 3px 6px; /* Espaciado interno */
    border-radius: 3px; /* Radio de borde */
}

.con-stock-descuento {
    background-color: #0c4d1c; /* Color de fondo */
    color: #ffffff; /* Color del texto */
    padding: 3px 6px; /* Espaciado interno */
    border-radius: 3px; /* Radio de borde */
}

