.card-principal{

background-color:#198754 ;
}

.card {
    width: 38rem;
    border: 1.5px solid black; /* Borde inicial */
    transition: border-color 0.3s; /* Transición suave del color del borde */
}

.nav {
    background-color: #f02626;
}